<div class="row m-3" id="game-ui">
    <div class="col-2 bg-light" id="game-board">
        {{ block "game-board" . }}
            {{ range .GameState.Grid.Tiles }}
                <div class="m-1">
                    {{ range . }}
                        <span class="m-1">
                            {{ . }}
                        </span>
                    {{ end }}
                </div>
            {{ end }}
            Money
            {{ .GameState.Money }}
        {{ end }}
    </div>
    <div class="col-1"></div>
    <div class="col-1">
        <form hx-post="/save/" hx-swap="none">
            <button class="mb-1">Save game</button>
            <input name="filename" placeholder="Save file name"></input>
        </form>
    </div>
    <div
        hx-post="/move/"
        hx-target="#game-board"
        hx-vals='{"direction": "MoveLeft"}'
        hx-trigger="keyup[keyCode==72] from:body, keyup[keyCode==37] from:body"
    ></div>
    <div
        hx-post="/move/"
        hx-target="#game-board"
        hx-vals='{"direction": "MoveDown"}'
        hx-trigger="keyup[keyCode==74] from:body, keyup[keyCode==40] from:body"
    ></div>
    <div
        hx-post="/move/"
        hx-target="#game-board"
        hx-vals='{"direction": "MoveUp"}'
        hx-trigger="keyup[keyCode==75] from:body, keyup[keyCode==38] from:body"
    ></div>
    <div
        hx-post="/move/"
        hx-target="#game-board"
        hx-vals='{"direction": "MoveRight"}'
        hx-trigger="keyup[keyCode==76] from:body, keyup[keyCode==39] from:body"
    ></div>
    <div
        hx-post="/interact/"
        hx-target="#game-board"
        hx-trigger="keyup[keyCode==80] from:body"
    ></div>
</div>

