<div class="row m-3" id="game-ui">
    <div class="col-2 bg-light" id="game-board">
        {{ block "game-board" . }}
            {{ range .GameState.Tiles }}
                <div class="m-1">
                    {{ range . }}
                        <span class="m-1">
                            {{ . }}
                        </span>
                    {{ end }}
                </div>
            {{ end }}
            Money
            {{ .GameState.Money }}
        {{ end }}
    </div>
    <div class="col-1"></div>
    <div class="col-1">
        <form hx-post="/save/" hx-swap="none">
            <button class="mb-1">Save game</button>
            <input name="filename" placeholder="Save file name"></input>
        </form>
        <hr />
        <h1>Controls</h1>
        <div class="row">
            <button
                class="col-6"
                hx-post="/move/"
                hx-target="#game-board"
                hx-vals='{"direction": "MoveUp"}'
            >
                Up
            </button>
            <button
                class="col-6"
                hx-post="/move/"
                hx-target="#game-board"
                hx-vals='{"direction": "MoveDown"}'
            >
                Down
            </button>
            <button
                class="col-6"
                hx-post="/move/"
                hx-target="#game-board"
                hx-vals='{"direction": "MoveLeft"}'
            >
                Left
            </button>
            <button
                class="col-6"
                hx-post="/move/"
                hx-target="#game-board"
                hx-vals='{"direction": "MoveRight"}'
            >
                Right
            </button>
        </div>
    </div>
</div>

